.example-card {
  max-width: 280px;
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out, border 0.1s ease-in-out;
}

.example-card:hover {
  cursor: pointer;
  transform: scale(1.01);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border: 1px solid #333;
}

.articulos-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);  /* Define 5 columnas de igual tamaño */
  gap: 20px;  /* Espacio entre las tarjetas */
  margin: 20px auto;
  padding: 0 20px 20px 20px;
}

.username {
  transition: color 0.1s ease-in-out;
}

.username:hover {
  color: #f0ad4e;
}
