<link rel="preconnect" href="https://res.cloudinary.com">

<div style="padding: 0; justify-content: center; text-align: center">
  <h2 style="font-size: 2.5rem; font-weight: lighter; padding: 0;">Mis artículos</h2>
</div>

<div style="padding: 0; justify-content: center; text-align: center" *ngIf="misArticulos.length <= 0">
  <h2>No tienes artículos registrados</h2>
</div>

<div class="mis-articulos-container" *ngIf="misArticulos.length > 0">
  <mat-card class="mi-articulo-card" appearance="outlined" *ngFor="let articulo of misArticulos"
            style="background-color: whitesmoke; border-color: whitesmoke"
            [routerLink]="'/app/articulo/' + articulo.id">
    <img mat-card-image ngSrc="{{ articulo.imagenes[0].url }}" alt="{{ articulo.nombre }}" width="280" height="280"
         style="object-fit: cover"
         priority />
    <mat-card-content>
      <h3 style="font-weight: lighter">{{ articulo.nombre }}</h3>

      <div class="visibilidad-container">
        <mat-icon *ngIf="articulo.publico">public</mat-icon>
        <mat-icon *ngIf="!articulo.publico">lock</mat-icon>
      </div>

      <div class="estado-container">
        <h4 [ngStyle]="{'background-color': articulo.color}"
            style="font-weight: lighter; text-transform: capitalize">
          {{ articulo.estado }}
        </h4>
      </div>

    </mat-card-content>

  </mat-card>
</div>
