.mi-articulo-card {
  max-width: 280px;
  height: 400px;
  position: relative;
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out, border 0.1s ease-in-out;;
}

.mi-articulo-card:hover {
  cursor: pointer;
  transform: scale(1.01);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);  /* Añade sombra cuando se pasa el mouse */
  border: 1px solid #333;
}

.mis-articulos-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);  /* Define 5 columnas de igual tamaño */
  gap: 20px;  /* Espacio entre las tarjetas */
  margin: 0 auto 20px auto;
  padding: 0 20px 20px 20px;
}

.estado-container {
  position: absolute;
  bottom: 10px; /* Ajusta la distancia desde el fondo */
  right: 10px;
  display: flex;
  justify-content: right;  /* Centra el contenido horizontalmente */
  align-items: center;      /* Centra el contenido verticalmente (si es necesario) */
  margin: 0;
  padding: 0;

}

.estado-container h4 {
  color: white;
  text-align: center;       /* Asegura que el texto dentro del h4 se centre */
  margin: 0;
  padding: 5px 10px;
  border-radius: 10px;
}

.visibilidad-container {
  position: absolute;
  bottom: 12px;
  left: 15px;
}
