<div style="padding: 0; justify-content: center; text-align: center">
  <h2 style="font-size: 2.5rem; font-weight: lighter; padding: 0;">Propuestas de trueque recibidas</h2>
</div>


<div style="justify-items: center; align-items: center; margin-top: 20px">

  <h2  *ngIf="misRecibidas.length == 0">No has recibido propuestas de trueque</h2>

  <mat-card class="solicitud-container" appearance="outlined"
            *ngFor="let recibida of misRecibidas"
            [routerLink]="'/app/propuestas/' + recibida.id">

    <mat-card-content>

      <mat-card-content class="articulo-solicitud-container">

        <h3>Tu artículo:</h3>

        <div class="contenido-articulo-solicitud">

          <img mat-card-sm-image ngSrc="{{ recibida.articulo.imagenes[0].url }}"
               height="75" width="75" alt="{{ recibida.articulo.nombre }}">

          <div class="datos-articulo-solicitud">
            <h4>{{ recibida.articulo.nombre }}</h4>
          </div>

        </div>

      </mat-card-content>

      <mat-card-content class="articulo-solicitud-container">

        <h3>Artículo ofrecido:</h3>

        <div class="contenido-articulo-solicitud">

          <img mat-card-sm-image ngSrc="{{ recibida.articuloOfrecido.imagenes[0].url }}"
               height="75" width="75" alt="{{ recibida.articuloOfrecido.nombre }}">

          <div class="datos-articulo-solicitud">
            <h4>{{ recibida.articuloOfrecido.nombre }}</h4>
            <p>De
              <span style="color: #f0ad4e">
                {{ recibida.articuloOfrecido.usuario.nombreCompleto }}
              </span>
            </p>
          </div>

        </div>

      </mat-card-content>

      <div class="estado-container">
        <h4 [ngStyle]="{'background-color': recibida.color}"
            style="font-weight: lighter; text-transform: capitalize">
          {{ recibida.estado }}
        </h4>
      </div>

    </mat-card-content>

  </mat-card>
</div>
