<div class="container">
  <mat-card class="example-card">

    <div class="imagen-container">
      <img [ngSrc]="imageUrl || defaultImageUrl" alt="Imagen de artículo" height="250" width="250"
           style="border-radius: 100%; border: 3px solid #f0ad4e;;"
           (click)="fileInput.click()">
      <input #fileInput type="file" (change)="onImageSelected($event)" accept="image/*" style="display: none;" />
    </div>

    <mat-card-content>
      <form [formGroup]="registroForm" class="form-container">
        <div style="display: flex; gap: 30px">
          <div style="justify-content: center">
            <mat-form-field appearance="fill" class="usuario-registro-field">
              <mat-label>Username</mat-label>
              <input matInput formControlName="username" />

              <mat-error *ngIf="registroForm.get('username')?.hasError('required')">
                El nombre de usuario es requerido.
              </mat-error>
              <mat-error *ngIf="registroForm.get('username')?.hasError('pattern')">
                Ingresa entre 4 y 16 caracteres alfanuméricos.
              </mat-error>
              <mat-error *ngIf="registroForm.get('username')?.hasError('usernameYaExiste')">
                El nombre de usuario no está disponible.
              </mat-error>

            </mat-form-field>

            <mat-form-field appearance="fill" class="usuario-registro-field">
              <mat-label>Contraseña</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'"  formControlName="password" />
              <mat-icon matSuffix (click)="hide = !hide" style="cursor: pointer">
                {{hide ? 'visibility_off' : 'visibility'}}
              </mat-icon>

              <mat-error *ngIf="registroForm.get('password')?.hasError('required')">
                La contraseña es requerida.
              </mat-error>
              <mat-error *ngIf="registroForm.get('password')?.hasError('minlength')">
                La contraseña debe contener al menos 8 caracteres.
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="usuario-registro-field">
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="nombre" />

              <mat-error *ngIf="registroForm.get('nombre')?.hasError('required')">
                El nombre es requerido.
              </mat-error>

              <mat-error *ngIf="registroForm.get('nombre')?.hasError('pattern')">
                Ingresa solo letras (con tildes y ñ) y espacios.
              </mat-error>

            </mat-form-field>

            <mat-form-field appearance="fill" class="usuario-registro-field">
              <mat-label>Apellido</mat-label>
              <input matInput formControlName="apellido" />

              <mat-error *ngIf="registroForm.get('apellido')?.hasError('required')">
                El apellido es requerido.
              </mat-error>
              <mat-error *ngIf="registroForm.get('apellido')?.hasError('pattern')">
                Ingresa solo letras (con tildes y ñ) y espacios.
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="usuario-registro-field">
              <mat-label>DNI</mat-label>
              <input matInput formControlName="dni" />

              <mat-error *ngIf="registroForm.get('dni')?.hasError('required')">
                El número de DNI es requerido.
              </mat-error>
              <mat-error *ngIf="registroForm.get('dni')?.hasError('pattern')">
                El número de DNI debe tener 8 caracteres numéricos.
              </mat-error>
              <mat-error *ngIf="registroForm.get('dni')?.hasError('dniYaExiste')">
                El número de DNI no está disponible.
              </mat-error>

            </mat-form-field>
          </div>

          <div>
            <mat-form-field appearance="fill" class="usuario-registro-field">
              <mat-label>Fecha de nacimiento</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento" placeholder="DD/MM/YYYY" />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>

              <mat-error *ngIf="registroForm.get('fechaNacimiento')?.hasError('required')">
                La fecha de nacimiento es requerida.
              </mat-error>
              <mat-error *ngIf="registroForm.get('fechaNacimiento')?.hasError('fechaFutura')">
                La fecha de nacimiento ingresada es inválida.
              </mat-error>
              <mat-error *ngIf="registroForm.get('fechaNacimiento')?.hasError('menorDe18')">
                Es necesario ser mayor de 18 años.
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="usuario-registro-field">
              <mat-label>Correo electrónico</mat-label>
              <input matInput formControlName="email" />

              <mat-error *ngIf="registroForm.get('email')?.hasError('required')">
                El correo electrónico es requerido.
              </mat-error>
              <mat-error *ngIf="registroForm.get('email')?.hasError('emailYaExiste')">
                El correo electrónico no está disponible.
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="usuario-registro-field">
              <mat-label>Teléfono</mat-label>
              <input matInput formControlName="telefono" />

              <mat-error *ngIf="registroForm.get('telefono')?.hasError('required')">
                El teléfono es requerido.
              </mat-error>
              <mat-error *ngIf="registroForm.get('telefono')?.hasError('pattern')">
                El número de teléfono debe tener 9 caracteres numéricos.
              </mat-error>
              <mat-error *ngIf="registroForm.get('telefono')?.hasError('telefonoYaExiste')">
                El número de teléfono no está disponible.
              </mat-error>

            </mat-form-field>

            <mat-form-field appearance="fill" class="usuario-registro-field">
              <mat-label>Ciudad</mat-label>
              <input matInput formControlName="ciudad" />

              <mat-error *ngIf="registroForm.get('ciudad')?.hasError('required')">
                La ciudad es requerida.
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="usuario-registro-field">
              <mat-label>País</mat-label>
              <input matInput formControlName="pais" />

              <mat-error *ngIf="registroForm.get('pais')?.hasError('required')">
                El país es requerido.
              </mat-error>
            </mat-form-field>
          </div>
        </div>


        <button mat-raised-button color="primary" (click)="onSubmit()">Registrar</button>
      </form>
    </mat-card-content>
  </mat-card>

</div>

