* {
  box-sizing: border-box;
}

.example-card {
  margin: 0 auto;
  width: 800px;
  background-color: whitesmoke;
}

.form-container {
  display: flex;
  flex-direction: column;
  /*gap: 16px; !* Espacio entre los campos *!*/
}

.mat-form-field {
  width: 100%;
  display: block; /* Asegúrate de que cada campo ocupe su propia línea */
}

.usuario-registro-field {
  width: 100%;
  margin-bottom: 10px;
}
