* {
  box-sizing: border-box;
}

html, body {
  height: 100%; /* Asegura que el body ocupe el 100% de la altura de la ventana */
  margin: 0; /* Elimina márgenes predeterminados */
}

.container {
  min-height: 100%; /* Asegura que el contenedor ocupe toda la altura de la página */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Esto asegura que el contenido se centre verticalmente */
  align-items: center; /* Esto centra horizontalmente */
}

.example-card {
  margin: 50px auto;
  width: 800px;
  background-color: whitesmoke;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.mat-form-field {
  width: 100%;
  display: block; /* Asegúrate de que cada campo ocupe su propia línea */
}

.usuario-registro-field {
  width: 100%;
  margin-bottom: 10px;
}

.imagen-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.imagen-container img {
  opacity: 80%;
  transition: opacity 0.2s ease;
  object-fit: cover;
}

.imagen-container img:hover {
  opacity: 100%;
  cursor: pointer;
}
