<link rel="preconnect" href="https://res.cloudinary.com">

<h2 *ngIf="!articuloDisponible">Este artículo no se encuentra disponible</h2>

<div *ngIf="articuloDisponible">

  <div class="titulo-detalle-container">
    Datos del artículo
  </div>
  <div class="articulo-detalle-container">
    <div class="imagen-container" >
      <img ngSrc="{{ articulo?.imagenes?.[0]?.url }}" alt="{{ articulo?.nombre }}" height="400" width="400"
        style="object-fit: cover; border-radius: 20px" priority>
    </div>

    <mat-card class="articulo-datos-container" style="background-color: white; box-shadow: none;">
      <mat-card-header style="text-align: center">
        <mat-card-title>{{ articulo?.nombre }}</mat-card-title>
        <mat-card-subtitle *ngIf="!esArticuloDelUsuario(articulo.usuario.id)" style="color:#333333; font-weight: lighter">
          De <span style="color: #f0ad4e; font-weight: normal">{{ articulo?.usuario?.nombreCompleto }}</span>
        </mat-card-subtitle>
        <mat-card-subtitle *ngIf="esArticuloDelUsuario(articulo.usuario.id)" style="color:#333333; font-weight: lighter">
          Este artículo te pertenece
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{ articulo?.descripcion }}</p>
      </mat-card-content>

      <div *ngIf="!esArticuloDelUsuario(articulo.usuario.id)">
        <button mat-flat-button style="background-color: #f29435; color: white; margin-top: 50px"
                [routerLink]="'/app/articulo/editar/' + articulo.id"
                *ngIf="!(articulo.estado === 'intercambiado')"
                (click)="abrirSeleccionArticuloDialog()">
          Enviar solicitud
        </button>
      </div>


      <div *ngIf="esArticuloDelUsuario(articulo.usuario.id)" style="margin-top: 30px">
        <div style="display: flex;">

          <p style="margin-right: 20px">Estado del artículo</p>
          <mat-form-field appearance="fill">
            <mat-label>Estado</mat-label>
            <mat-select [(ngModel)]="selectedValue">
              <mat-option *ngFor="let estado of estados" [value]="estado.value">
                {{ estado.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div style="display: flex; justify-content: center; align-items: center;">
          <mat-radio-group [(ngModel)]="visibilidad" style="display: flex; gap: 50px;">
            <mat-radio-button [value]="true">
              <p style="color: black">Público</p>
            </mat-radio-button>
            <mat-radio-button [value]="false">
              <p style="color: black">Privado</p>
            </mat-radio-button>
          </mat-radio-group>
        </div>

        <div style="display: flex; justify-content: center; gap: 20px">
          <button mat-flat-button style="background-color: dodgerblue; color: white; margin-top: 30px"
                  (click)="editarArticulo()">
            Editar artículo
          </button>
          <button mat-flat-button style="background-color: red; color: white; margin-top: 30px"
                  (click)="eliminarArticulo()">
            Eliminar artículo
          </button>
        </div>

      </div>

    </mat-card>
  </div>

</div>
