<mat-toolbar class="navbar">
  <img src="https://i.postimg.cc/gkbq94WB/logo.png" alt="Tru Trade Logo" class="logo"
      [routerLink]="'/app/feed'">
  <span class="left-side">

    <span class="opciones">
      <a [routerLink]="'/app/feed'">Inicio</a>
      <a [routerLink]="'/app/mi-perfil'">Mi Perfil</a>
      <a [matMenuTriggerFor]="articulos">Mis Artículos<mat-icon>arrow_drop_down</mat-icon></a>
      <a [matMenuTriggerFor]="trueques">Trueques<mat-icon>arrow_drop_down</mat-icon></a>
      <mat-menu class="menu-articulos" #articulos>
        <a mat-menu-item [routerLink]="'/app/mis-articulos'">Ver artículos registrados</a>
        <a mat-menu-item [routerLink]="'/app/registrar-articulo'">Registrar un artículo</a>
      </mat-menu>
      <mat-menu class="menu-trueques" #trueques>
        <a mat-menu-item [routerLink]="'/app/propuestas/enviadas'">Propuestas enviadas</a>
        <a mat-menu-item [routerLink]="'/app/propuestas/recibidas'">Propuestas recibidas</a>
      </mat-menu>
    </span>

  </span>
  <a mat-flat-button (click)="logout()">Cerrar sesión</a>
</mat-toolbar>
<mat-divider style="border-top: 2px solid darkgray;"></mat-divider>
<router-outlet></router-outlet>
