<link rel="preconnect" href="https://res.cloudinary.com">

<h2 *ngIf="!pedidoDisponible">Este pedido no se encuentra disponible</h2>

<div class="pedido-container" *ngIf="pedidoDisponible">

  <div class="articulos-pedido-container">
    <div class="articulo-detalle-container">

      <div class="titulo-detalle-container">
        Artículo solicitado
      </div>

      <mat-card class="articulo-datos-container" style="background-color: white; box-shadow: none;">
        <mat-card-content class="articulo-card-content">
          <div class="imagen-container" >
            <img ngSrc="{{ articuloSolicitado?.imagenes?.[0]?.url }}"
                 alt="{{ articuloSolicitado?.nombre }}" height="300" width="300"
                 style="object-fit: cover; border-radius: 20px" priority>
          </div>

          <mat-card-header style="text-align: center; text-wrap: wrap; width: 250px">
            <mat-card-title>{{ articuloSolicitado?.nombre }}</mat-card-title>
            <mat-card-subtitle *ngIf="!esArticuloDelUsuario(articuloSolicitado.usuario.id)" style="color:#333333; font-weight: lighter">
              De <span style="color: #f0ad4e; font-weight: normal">{{ articuloSolicitado?.usuario?.nombreCompleto }}</span>
            </mat-card-subtitle>
            <mat-card-subtitle *ngIf="esArticuloDelUsuario(articuloSolicitado.usuario.id)" style="color:#333333; font-weight: lighter">
              Tu artículo
            </mat-card-subtitle>
          </mat-card-header>
        </mat-card-content>
      </mat-card>

    </div>

    <div class="articulo-detalle-container">
      <div class="titulo-detalle-container">
        Artículo ofrecido
      </div>

      <mat-card class="articulo-datos-container" style="background-color: white; box-shadow: none;">
        <mat-card-content class="articulo-card-content">
          <div class="imagen-container" >
            <img ngSrc="{{ articuloOfrecido?.imagenes?.[0]?.url }}"
                 alt="{{ articuloOfrecido?.nombre }}" height="300" width="300"
                 style="object-fit: cover; border-radius: 20px" priority>
          </div>
          <mat-card-header style="text-align: center; text-wrap: wrap; width: 250px">
            <mat-card-title>{{ articuloOfrecido?.nombre }}</mat-card-title>
            <mat-card-subtitle *ngIf="!esArticuloDelUsuario(articuloOfrecido.usuario.id)" style="color:#333333; font-weight: lighter">
              De <span style="color: #f0ad4e; font-weight: normal">{{ articuloOfrecido?.usuario?.nombreCompleto }}</span>
            </mat-card-subtitle>
            <mat-card-subtitle *ngIf="esArticuloDelUsuario(articuloOfrecido.usuario.id)" style="color:#333333; font-weight: lighter">
              Tu artículo
            </mat-card-subtitle>
          </mat-card-header>
        </mat-card-content>

      </mat-card>
    </div>
  </div>

  <div *ngIf="esPedidoEnviado()">

    <div *ngIf="pedido.estado === 'pendiente'">
      <div class="set-botones">
        <button mat-flat-button style="background-color: red; color: white; margin-top: 50px"
                (click)="abrirConfirmacionAccion('cancelar')">
          Cancelar solicitud
        </button>
      </div>
    </div>

    <div class="texto-estado-pedido" *ngIf="pedido.estado === 'aceptado'">
      <h4>Tu solicitud de trueque ha sido aceptada.</h4>

      <div class="set-botones">
        <button mat-flat-button style="background-color: whitesmoke; color: black; margin-top: 10px">
          <!--              (click)="abrirConfirmacionAccion('aceptar')">-->
          Ver datos de contacto
        </button>
      </div>


    </div>

    <div class="texto-estado-pedido" *ngIf="pedido.estado === 'rechazado'">
      <h4 style="color: red">Tu solicitud de trueque ha sido rechazada.</h4>
    </div>

  </div>

  <div *ngIf="esPedidoRecibido()">

    <div *ngIf="pedido.estado === 'pendiente'">
      <div class="set-botones">
        <button mat-flat-button style="background-color: dodgerblue; color: white; margin-top: 50px"
                (click)="abrirConfirmacionAccion('aceptar')">
          Aceptar solicitud
        </button>

        <button mat-flat-button style="background-color: red; color: white; margin-top: 50px"
                (click)="abrirConfirmacionAccion('rechazar')">
          Rechazar solicitud
        </button>
      </div>
    </div>

    <div class="texto-estado-pedido" *ngIf="pedido.estado === 'aceptado'">
      <h4>Has aceptado esta solicitud de trueque.</h4>

      <div class="set-botones">
        <button mat-flat-button style="background-color: whitesmoke; color: black; margin-top: 10px">
          <!--              (click)="abrirConfirmacionAccion('aceptar')">-->
          Ver datos de contacto
        </button>
      </div>

    </div>

    <div class="texto-estado-pedido" *ngIf="pedido.estado === 'rechazado'">
      <h4 style="color: red">Has rechazado esta solicitud de trueque.</h4>
    </div>

  </div>



</div>

