<div style="padding: 0; justify-content: center; text-align: center">
  <h2 style="font-size: 2.5rem; font-weight: lighter; padding: 0;">Propuestas de trueque enviadas</h2>
</div>

<div style="justify-items: center; align-items: center; margin-top: 20px">

  <h2  *ngIf="misEnviadas.length == 0">No has enviado propuestas de trueque</h2>

  <mat-card class="solicitud-container" appearance="outlined"
            *ngFor="let enviada of misEnviadas"
            [routerLink]="'/app/propuestas/' + enviada.id">

    <mat-card-content>

      <mat-card-content class="articulo-solicitud-container">

        <h3>Artículo solicitado:</h3>

        <div class="contenido-articulo-solicitud">

          <img mat-card-sm-image ngSrc="{{ enviada.articulo.imagenes[0].url }}"
               height="75" width="75" alt="{{ enviada.articulo.nombre }}">

          <div class="datos-articulo-solicitud">
            <h4>{{ enviada.articulo.nombre }}</h4>
            <p>De
              <span style="color: #f0ad4e">
                {{ enviada.articulo.usuario.nombreCompleto }}
              </span>
            </p>
          </div>

        </div>

      </mat-card-content>

      <mat-card-content class="articulo-solicitud-container">

        <h3>Tu artículo:</h3>

        <div class="contenido-articulo-solicitud">

          <img mat-card-sm-image ngSrc="{{ enviada.articuloOfrecido.imagenes[0].url }}"
               height="75" width="75" alt="{{ enviada.articuloOfrecido.nombre }}">

          <div class="datos-articulo-solicitud">
            <h4>{{ enviada.articuloOfrecido.nombre }}</h4>
          </div>

        </div>

      </mat-card-content>
      <div class="estado-container">
        <h4 [ngStyle]="{'background-color': enviada.color}"
            style="font-weight: lighter; text-transform: capitalize">
          {{ enviada.estado }}
        </h4>
      </div>

    </mat-card-content>

  </mat-card>
</div>
